@{
    ViewBag.Title = "Home Page";
}

<div class="card">
    <br />
    <h1 class="text-center">Northwest Labs</h1>
    <p class="text-center"> Northwest Labs Pharmaceutical provides chemical and compound tests for companies needing in-depth assay analysis. </p>
    <br />
</div>

<br />

<div class="card-deck">
    <div class="card text-center">

        <img class="card-img-top" src="~/Images/newCustomer.jpg" alt="New Customers" />
        <div class="card-body">
            <p><a class="btn btn-primary btn-block" href="@Url.Action("About", "Home")">New Customers</a></p>

        </div>
    </div>

    <div class="card text-center">
        <img class="card-img-top" src="~/Images/customer.jpg" alt="Current Customers" />
        <div class="card-body">
            <p><a class="btn btn-primary btn-block" href="@Url.Action("Index", "CustomerPortal")">Current Customers</a></p>

        </div>
    </div>


    <div class="card text-center">

        <img class="card-img-top" src="~/Images/employee.jpg" alt="Employees" />
        <div class="card-body">
            <p><a class="btn btn-primary btn-block" href="@Url.Action("Employee", "Home")">Employees</a></p>

        </div>
    </div>
</div>